header{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: 1px solid #dddfe0;
    .imgperfil{
        margin-top: -5px;
        width: 90x;
        height: 90px;
    }
    ul{
        display: flex;
        li{
            list-style: none;
            margin-top: 25px;
            
            a{
            text-decoration: none;
            margin-left:20px;
            color:white;
            transition: 1s;
            &:hover {
              color: black;
              margin: 20px;
            }
        }
    }
}

    .pos-f-t{
        display: none;
    }
}

