
@media screen and (max-width: 767px) {
    header{

    ul{
        li{
            a{       
                 display: none;
    }
}
}
}

.menuheader {
    background-color: red;
    .container-fluid {
    display: flex;
    justify-content: flex-end;
  }
  

}


/*MAIN
main{
    .info{
        .datos{
            .h1{
                .nombre{
                    width: 18px !important;
                }
            }
        }
    }

}
}*/
}